@import './variables.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;

  min-width: 400px;

  color: $castro;
  background: $shocking;

  .app-wrapper {
    max-width: 600px;
    margin: auto;
    padding: 10px;
  }
}

button {
  padding: .5em;

  border: none;
}

a {
  text-decoration: none;

  color: $camelot;
}

input {
  border-color: $castro;
}
